# Exclude binaries and obj shenanigans by Visual Studio
.vs/
obj/
Resources/
*.wav
*.csproj
*.sln
AudioPlayer.cs
*.ico

# Exclude tracking for the Debug folder and its contents
bin/Debug/
bin/Debug

# Include directories? (prob might work)
!bin/Release/
!bin/Release/*.exe